<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	
	<!-- 
	============================================================================================================================================================
	===============================================================SERVELET GENERAL==================================================================================
	===========================================================================================================================================================
	-->
	
	<servlet>
		
		<servlet-name>general</servlet-name>
		<servlet-class>com.sdzee.servlets.general</servlet-class>
		<load-on-startup>1</load-on-startup>
		
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>general</servlet-name>
		<url-pattern>/general</url-pattern>
	
	</servlet-mapping>
	
	
	
	<!-- 
	============================================================================================================================================================
	================================================================SERVLET AJOUTER CONTACTE============================================================================
	===========================================================================================================================================================
	-->
	
	
	<servlet>
		
		<servlet-name>addContact</servlet-name>
		<servlet-class>com.sdzee.servlets.addContact</servlet-class>
		
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>addContact</servlet-name>
		<url-pattern>/add</url-pattern>
	
	</servlet-mapping>
	
	
	<!-- 
	============================================================================================================================================================
	========================================================SERVLET AFFICHER CONTACTE==============================================================================
	===========================================================================================================================================================
	-->
	
	
	<servlet>
		
		<servlet-name>displayContact</servlet-name>
		<servlet-class>com.sdzee.servlets.displayContact</servlet-class>
		
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>displayContact</servlet-name>
		<url-pattern>/display</url-pattern>
	
	</servlet-mapping>
	
	
	<!-- 
	============================================================================================================================================================
	=====================================================SERVLET RECHERCHER CONTACTE=====================================================================================
	===========================================================================================================================================================
	-->
	
	
	<servlet>
		
		<servlet-name>searchContact</servlet-name>
		<servlet-class>com.sdzee.servlets.searchContact</servlet-class>
		
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>searchContact</servlet-name>
		<url-pattern>/search</url-pattern>
	
	</servlet-mapping>
	
	
	
	
	
	


</web-app>